{% extends "base.html" %}

{% block content %}

<h2>Add RC Item</h2>

<div class="form-container">

<form method="post">

<div class="form-grid">

<div>
<label>Name</label>
<input name="name">
</div>

<div>
<label>Category</label>

<select name="category">

<option>Battery</option>
<option>Motor</option>
<option>ESC</option>
<option>Servo</option>
<option>Receiver</option>
<option>Transmitter</option>
<option>Remote ID</option>
<option>Charger</option>
<option>Propeller</option>
<option>FPV</option>
<option>Tool</option>
<option>Other</option>

</select>

</div>

<div>
<label>Brand</label>
<input name="brand">
</div>

<div>
<label>Model</label>
<input name="model">
</div>

<div>
<label>Serial</label>
<input name="serial">
</div>

<div class="form-grid-full">
<label>Notes</label>
<textarea name="notes"></textarea>
</div>

<div class="form-grid-full">
<button class="btn" type="submit">Add Item</button>
</div>

</div>

</form>

</div>

{% endblock %}